@import url('https://fonts.googleapis.com/css2?family=Allura&family=Comforter&family=Roboto+Mono&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
}

p{
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 20px;
    color: #a9a9a9;
}

h1.title{
    margin-bottom: 56px;
    color: rgb(46, 46, 46);
    text-transform: uppercase;
    font-size: 38px;
    word-spacing: 10px;
    letter-spacing: 5px;
}

.main_container{
position: relative;
}

/* navigation bar*/

.navbar{
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
}

.logo a{
    font-family: 'Allura', cursive;
    font-size: 50px;
    color: red;
}


.navbar .navbar_items ul{
    display: flex;
}

.navbar .navbar_items ul li{
    text-transform: uppercase;
    margin: 0 10px;
}

.navbar .navbar_items ul li a{
    color: #fff;
    transition: all .5s ease;
}

.navbar .navbar_items ul li a:hover{
  background-color: white;
  padding: 8px 25px;
  color: black;
  box-shadow: 0 0 10px white;
}

/* banner_image*/
.ban_img{
    background: url("Images/nav3.jpg") no-repeat top center;
    background-size: cover;
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ban_con{
    text-align: center;
    color: #fff;
}
.ban_con h1{
    text-transform: uppercase;
    line-height: 38px;
    margin-bottom: 15px;
}

.ban_con h1 span{
    color: #fff;
}

/* About us */

.about,
.stories,
.contactus,
.ourteam{
text-align: center;
padding: 5% 10%;
}

/* Stories */
.stories{
    background: #f5f5f5;
}

.diff_stories{
    display: flex;
    margin-top: 35px;
    justify-content: space-between;
}

.diff_storie_item{
    width: 33%;
}
.diff_storie_item img{
    width: 90%;
    margin-bottom: 20px;
    height: 55%;
}

.diff_storie_item h3{
    margin-bottom: 15px;
}

/* Contact Us*/

section {
    height: 100vh;
    width: 100%;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
  }
  .container {
    width: 90%;
    max-width: 500px;
    margin: 100px auto;
    padding: 20px;
    box-shadow: 0px 0px 20px #00000010;
    background-color: white;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  .form-group {
    width: 100%;
    margin-top: 20px;
    font-size: 20px;
  }
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 5px;
    font-size: 18px;
    border: 1px solid rgba(128, 128, 128, 0.199);
    margin-top: 5px;
  }
  
  textarea {
    resize: vertical;
  }
  button[type="submit"] {
    width: 100%;
    border: none;
    outline: none;
    padding: 20px;
    font-size: 24px;
    border-radius: 8px;
    font-family: "Montserrat";
    color: black;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s ease background-color;
  }
  button[type="submit"]:hover {
    background-color: rgb(214, 226, 236);
  }
  #status {
    width: 90%;
    max-width: 500px;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    border-radius: 8px;
  }
  #status.success {
    background-color: rgb(211, 250, 153);
    animation: status 4s ease forwards;
  }
  #status.error {
    background-color: rgb(250, 129, 92);
    color: white;
    animation: status 4s ease forwards;
  }
  @keyframes status {
    0% {
      opacity: 1;
      pointer-events: all;
    }
    90% {
      opacity: 1;
      pointer-events: all;
    }
    100% {
      opacity: 0;
      pointer-events: none;
    }
  }
  /*Our Team*/
  .ourteam{
	background: #f5f5f5;
}

.ourteam_wrapper .team{
	display: flex;
	justify-content: space-between;
}

.ourteam_wrapper .team-1.team{
	margin-bottom: 25px;
}

.ourteam_wrapper .team_member{
	width: 30%;
	height: auto;
	cursor: pointer;
	overflow: hidden;
}

.ourteam_wrapper .team_member img{
	width: 100%;
	display: block;
	height: auto;
	transition: all 0.5s ease;
}

.ourteam_wrapper .team_member:hover img{
	transform: scale(1.1);
}
/* arrow */

html {
  scroll-behavior: smooth;
}

.scroll-top {
  height: 60px;
  width: 60px;
  background-color: white;
  position: fixed;
  bottom: 22px;
  right: 93%;
  cursor: pointer;
  border-radius: 6px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.336);
  /* hover effect default */
  transform: scale(0.9);
  transition: 0.3s ease-in-out transform;
  /* for centering the icon */
  display: flex;
  align-items: center;
  justify-content: center;
}
.scroll-top svg {
  width: 50%;
  color: black;
  pointer-events: none;
}

.scroll-top:hover {
  transform: scale(1);
}

/* tiagn */

.diff_storie_item a{
    text-decoration: none;
    color: black;
}
.diff_storie_item a:hover{
    color: rgb(44, 20, 20);
}
/* react_button */
element.style {
  cursor: pointer;
  color: white;
  background: white;
  fill: black;
  width: 60px;
  height: 60px;
  z-index: 16777270;
  position: fixed;
  bottom: 0px;
  right: 0px;
  border: 0px;
  box-sizing: border-box;
  padding: 12px;
  margin: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  box-shadow: rgb(255 255 255 / 50%) 0px 1px 2px 0px inset, rgb(0 0 0 / 10%) 0px -4px 8px 0px inset, rgb(22 22 22 / 50%) 0.3em 0.3em 1.4em;
}