@import url('https://fonts.googleapis.com/css2?family=Allura&family=Comforter&family=Roboto+Mono&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(image/background.jpg);
}
p{
    margin-bottom: 70px;
    font-size: 21px;
    line-height: 20px;
    color: #000;
}


h1.title{
    margin-bottom: 56px;
    color: rgb(46, 46, 46);
    text-transform: uppercase;
    font-size: 38px;
    word-spacing: 10px;
    letter-spacing: 0px;
}

/* navbar */
.navbar{
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 1) ;
    position: sticky;
    top: 0;
    position: absolute;
    width: 100%;
}
.navbar ul{
    margin: 20px 0;
    display: flex;
    list-style: none;
}
.navbar ul li{
    font-family: century;
    font-size: 1.1rem;
    font-weight: bold;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    transition: all .5s ease;
}
.navbar ul li a:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0 10px white;
}
/* language */


/* Perssonal */
.about,
.stories,
.contactus,
.ourteam{
text-align: center;
padding: 10% 10%;
margin-bottom: -13%;
}

.girl{
    border: 2px solid black;
    margin: 11px;
    width: 35%;
}

.title1{
    margin-bottom: 0px;
    color: #000;
    text-transform: uppercase;
    font-size: 38px;
    word-spacing: 10px;
    letter-spacing: 0px;
}

.storie {
    padding: 0px 100px;
}

.text_story p{
    margin-top: 2%;
    text-align: right;
}

.chapter h1{
    color: #000;
    font-family: 'Allura', cursive;
}

/* arrow */

html {
    scroll-behavior: smooth;
  }
  
  .scroll-top {
    height: 60px;
    width: 60px;
    background-color: white;
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.336);
    /* hover effect default */
    transform: scale(0.9);
    transition: 0.3s ease-in-out transform;
    /* for centering the icon */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .scroll-top svg {
    width: 50%;
    color: black;
    pointer-events: none;
  }
  
  .scroll-top:hover {
    transform: scale(1);
  }

  @keyframes status {
    0% {
      opacity: 1;
      pointer-events: all;
    }
    90% {
      opacity: 1;
      pointer-events: all;
    }
    100% {
      opacity: 0;
      pointer-events: none;
    }
  }
  